@import "./mixins";
@import "./functions";


/* Colors
   ========================================================================== */

/**
 * Base Background Light
 */
$base-bg-light: #FFFFFA;

/**
 * Base Background Dark
 */
$base-bg-dark: #14110F;

/**
 * Set Base Colors
 */

$base-colors: colors(red);

$base-primary: nth($base-colors, 1);
$base-secondary: nth($base-colors, 2);
$base-accent: nth($base-colors, 3);
